.button {
  background-color: #C4C4C4;
  border: none;
  color: white;
  width: 250px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 30px;
  margin: auto auto;
  margin-top: 70px;
  border-radius: 15px;
  cursor: pointer;
  display: block;  
}
